button {
    background-color: #4CAF50;
    border: none;
    color: white;
    display: inline-block;
    border-radius: 8px;
    outline: none;
    font-size: 80px;
    cursor: pointer;
    padding: 7px;
    margin: 3px;
}

button:hover {
    opacity: 0.8;
}

.equals {
    grid-column: 3 / 5;
    background-color: aliceblue;
}

.equals:hover {
    background-color: palevioletred;
}